<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
    aria-expanded="false">
    分類
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item" href="?categoryId=">全部</a></li>
    {{#each categories}}  
      <li><a class="dropdown-item" href="?categoryId={{this.id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
</div>