<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark px-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/lists/userhome">家庭記帳本</a>
    </div>
    <div class="container-fluid  d-flex justify-content-end">
      <a class="btn btn-link link-primary" href="/user/logout">
        <button class="btn btn-secondary btn-block">logout</button>
      </a>
    </div>
  </nav>
</header>